*{
    font-family: 'Playfair Display';
}
body {
    margin:  0 !important;
    padding: 0; 
}

.logo{
    width: 200px;
}
#navbar ul{
    z-index: 2;
    display: flex;
    justify-content: end;
    list-style: none;
    margin: 0;
    color: white;
    position: relative;
}

.contentMenu{
    align-items: center;
    padding: 20px;
}
.wrapperLogo{
    display: flex;
    justify-content: left;
    z-index: 2;
    width: 100%;
    position: relative;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    align-items: center;
    position: absolute;
}
.menu li:hover {
    color: #e66a03;
    font-weight: bold;
}
.menu li {
    padding: 5px 14px;
}
input[type=checkbox]{
    display: none;

}
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
   }
#navbar a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: normal;
}
#navbar a:hover{
    color: #e66a03;
    font-weight: bold;
}
.nav-links a {
    color: #fff;
}
div#dvSlider {
    position: relative;
    width: 100%;
    height: 515px;
}
.buttonSlider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}
.buttonSlider:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
    background: #000;
    background: linear-gradient(180deg, #000 0%, rgba(0,0,0,0.9) 100%);
}
input#bt {
    background: #e66a03;
    border: 0px;
    border-radius: 100%;
    color: white;
    height: 30px;
    width: 30px;
    z-index: 2;
}
.contentTitleSlider{
    top: 20%;
    position: absolute;
    left: 13%;
    z-index: 2;
}
.title-feature.slider{
    z-index: 1;
    position: relative;
    color: white;
}
.title-feature button:hover{
    background: #e66a03;
    border: 0;
}
.title-feature button{
    background: transparent;
    border-color: white;
    color: white;
    border: 1px solid #fff;
}

.services{
    background:  #f5f5f5;
    margin: 30px;
    padding: 30px;
   
}
img.imgServices{
    width: 90px;
    margin: auto;
    padding: 32px 0 16px 0;
}

.collapse {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e0dfdf;
    max-width: 500px;
    transition: background-color 0.25s;
    will-change: background-color;
}

summary.title {
    cursor: pointer;
    font-weight: 600;
    position: relative;
    padding: 20px;
}

.description {
    border-top: #e0dfdf solid 1px;
    font-size: 14px;
    line-height: 21px;
    padding: 20px;
    color: gray;
}
.collapse:not(.show) {
    display: block !important;
}

.imgNature{
    max-width: 520px;
    margin-bottom: 20px;
    width: 100%;
}
.wrapperCollapse{
    display: flex;
    align-items: center;
    margin: auto;
}
img.card-img-top:hover {
    transform: scale(1.05);
}
.email:hoveR{
    color: #e66a03;
}
.footer {
    background-image: url(https://demos.codezeel.com/wordpress/WP02/WP029/wp-content/uploads/2022/11/footer-img.jpg);
    background-position: 52% 58%;
    padding: 10px;
    color: white;
    height: 100%;
}
.footer ul{
    list-style: none;
}
.footer h1{
    color: #e66a03;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: left;
}
.footer ul li, .footer p{
    color: gray;
    margin: 0;
}

.wrapperLogoFooter{
    width: 160px;
    margin-bottom: 28px !important;
}
.card{
    overflow: hidden;
}
.title-feature{
    padding: 10px;
    width: 80%;
    margin: 21px auto;
}
.title-feature h1{
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display';
}
.title-feature h4{
    color: #e66a03;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.portifolios{
    margin-bottom: 100px;
    max-width: 1200px;
}
.row.mb-5,
.row.photograhphs{
    max-width: 1200px;
    margin: auto;
}
.card-body{
    text-align: center;
}

@media (min-width: 1200px){
    .collapse.col-md-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
}
@media(max-width: 1200px){

    .photograhphs,
    .cards,
    .collapse .row{
        display: block;
    }
    .card,
    .cards,
    .collapse.row{
        width: 70% !important;
        margin: auto;
        margin-bottom: 10px;
    }
}
ul#itens li {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.9em;
  
}
ul#itens li a {
    display: block;
    color: #fff;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    padding: 0 0.3em 0 0.3em;
    outline: 0;
}
#burguer{
    z-index: 4;
    position: absolute;
    color: white;
    display: none;
}
#itens ul{
    display: flex;
    z-index: 4;
    position: relative;
    color: white;
    list-style: none;
    justify-content: space-evenly;
}
#itens ul > li > a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:680px) {
    #burguer {
        display: none;
    }
   #burguer {
        display: block;
        left: 94%;
        top: 30%;
    }
    #itens ul{
        z-index: 4;
        position: absolute;
        color: white;
        display: block;
        list-style: none;
        top: 96%;
        right: 2%;
        background: gray;
    }
  }
  @media screen and (max-width:680px) {
    ul#itens.responsive {
      position: relative;
      background: rgba(0,0,0,0.75); /*Fundo cinza*/
      height:auto;
      padding-top:15px;
      padding-bottom:10px;
      line-height:5px;
      width:100%;
      
    }
    ul#itens li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul#itens li {
       text-align:center; 
      float: none;
      padding:0;
      display: inline;
      
    }
    ul#itens li a {
      display: block;
      padding:0;
      text-align: left;
      line-height:30px;
      text-align:center;
    }
  }
.btn12{
    cursor: pointer;
}
.btn12:hover{
    background-color: white !important;
    color: red !important;
}
.modal1{
    width: 600px;
    height: 400px;
    background-color: red;
    position: absolute;
    left: 26%;
    display: none;
    animation: animate;
    top: 407%;
    animation-duration: 800ms;
    border-radius: 10px;
  
}
@keyframes animate{
    from{opacity: 1;}
    from{opacity: 0;}
}
.fechar{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    color: white;
    fill: white;
    stroke: white;
}
